.allTopics {
	line-height: 50px;
	background: linear-gradient(135deg, #ff3300, #cc00cc);
}

.btn {
	margin: 5px;
}

.gif {
	float: left;
	margin: 10px;
}

.gif img {
	width: 300px;
}

.addTopicBoard {
	text-align: center;
}
